### **Contents**

0. Initial Setup
1. Business Problem Understanding
2. Data Understanding
3. Data Preprocessing
4. Modeling
5. Conclusion
6. Recommendation

****

### `Initial Setup`

In [8]:
# Import library eksplorasi dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import library modeling


import warnings
warnings.filterwarnings('ignore')

### `Business Problem Understanding`

**Problem Statement**

.....

**Goals**

......

**Analytic Approach**

......

**Metric Evaluation**

......

### `Data Understanding`

| Columns                                            | Definition                                                   | 
| ------------------------------------------------- | ------------------------------------------------------------ |
| Cols A | ..... |

In [9]:
data = pd.read_csv(.....)
print(f'Jumlah baris dan kolom: {data.shape}')

data.sample(5)

Jumlah baris dan kolom: (700, 9)

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
441   32   1      10       11      42      9.1  1.540266  2.281734        0
32    27   3       2        7      26      6.0  0.722280  0.837720        0
523   48   1      17       22      66      3.2  1.467840  0.644160        0
129   41   2      19        2      68      5.8  1.506608  2.437392        0
341   30   2       4        8      15      6.5  0.350025  0.624975        0

#### **Initial Assesment**

__Insight :__
* ....
* ....
* ....
* ....

#### **Numerical variable**

__Insight :__
* ...
* ...
* ...

#### **Categorical variable**

__Insight :__
* ...
* ...
* ...

### `Data Preparation`

In [11]:
df = data.copy()
df.sample(5)

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
543   32   1       4        3      16     28.5  0.893760  3.666240        1
636   28   2       0        7      29     13.3  2.148349  1.708651        1
699   37   1      12       14      44     14.7  2.994684  3.473316        0
64    26   2       5        7      28      7.8  1.024296  1.159704        0
606   29   1       1        3      18     25.6  1.981440  2.626560        1

#### **Data Wrangling**

**Missing Value**, .....

Deteksi dan kuantifikasi missing value:

Handling missing value:

__Insight :__ 
* ....
* ....
* ....

**Rare label**, .....

Deteksi dan kuantifikasi rare value:

Handling rare value:

__Insight :__ 
* ....
* ....
* ....

**Outlier,** .....

Deteksi dan kuantifikasi outlier:

Handling outlier:

__Insight :__
* ....
* ....
* ....

#### **Feature Engineering**

Bagi dataset menjadi train set dan test set:

Proses scaling dan encoding:

Feature Creation:

Feature Selection:

### `Modeling`

**Model Experiment**

Bandingkan model regresi atau klasifikasi untuk mendapatkan benchmark model:

Lakukan optimasi model benchmark:

Validasi silang 10-fold untuk mendapatkan rentang kinerja model:

**Model Intepretation**

* .....
* .....
* .....

**Model Limitation**

* .....
* .....
* .....

### `Conclusion`

Beberapa hal yang dapat disimpulkan yaitu:

* ....
* ....
* ....

### `Recommendations`

Hal yang dapat dilakukan untuk mengembangkan model agar lebih baik lagi, seperti:

* ....
* ....
* ....